body {
    background-color: #1b263b;
}

main {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

#c-pswd, #n-pswd {
    background-color: #252424;
    margin-bottom: 10px;
}

label {
    color: white;
    font-weight: bold;
}

input, textarea {
    background-color: #252424 !important;
    color: white !important;
    border: 1px solid gray !important;
}

input::placeholder, textarea::placeholder {
    color: #778da9 !important;
}

#basic-info, #sale-type {
    border: none;
    color: white;
    background-color: #212121;
}

.card-header {
    background-color: #415a77;
    color: white;
    font-weight: bold;
}

#info {
    font-size: small;
    color: gray;
}